{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Project Detail {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <a href="{% url 'projectlist' %}" class="btn btn-warning mt-2"><i class="ni ni-bold-left mr-2"></i> Back</a>
        <!-- Card stats -->
        <div class="row pt-2">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-1">Project status</h5>
                        <span class="h2 font-weight-bold mb-0 badge badge-dot mr-4">
                            <i class="bg-warning"></i> pending
                        </span>
                        
                        <div class="progress-wrapper">
                            <div class="progress-info">
                              <div class="progress-label">
                                <span>Task completed</span>
                              </div>
                              <div class="progress-percentage">
                                <span>60%</span>
                              </div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                          </div>
                    </div>
                    
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Since</span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ projectdetail.startDate }} </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Project information</h5>
                      {% comment %} <span class="h2 font-weight-bold mb-0">2,356</span> {% endcomment %}
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-collection"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Title : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ projectdetail.title }} </span>
                  </p>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Description : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ projectdetail.description }} </span>
                  </p>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Technology : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ projectdetail.technology }} </span>
                  </p>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Estimated Hours : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ projectdetail.estimatedHours }} </span>
                  </p>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Start Date : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ projectdetail.startDate }} </span>
                  </p>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Completion Date : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ projectdetail.completionDate }} </span>
                  </p>
                </div>
                <div class="ms-auto text-end d-flex flex-row-reverse">
                  <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'projectdelete' projectdetail.id %}"><i class="fas fa-trash mr-2"></i>Delete</a>
                  <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'projectupdate' projectdetail.id %}"><i class="fas fa-edit mr-2"></i>Edit</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Project Team</h5>
                      {% comment %} <span class="h2 font-weight-bold mb-0">924</span> {% endcomment %}
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-single-02"></i>
                      </div>
                    </div>
                  </div>
                  {% for t in team %}
                  
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap font-weight-bold mr-1">Developer : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ t.user.username }} </span>
                    <br>
                    <span class="text-nowrap font-weight-bold mr-1">Email : </span>
                    <span class="text-nowrap text-success font-weight-bold"> {{ t.user.email }} </span>
                  </p>
                  
                  {% endfor %}
                  
                </div>

                <div class="ms-auto text-end d-flex flex-row-reverse">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'projectdelete' projectdetail.id %}"><i class="fas fa-trash mr-2"></i>Delete</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'projectupdate' projectdetail.id %}"><i class="fas fa-edit mr-2"></i>Edit</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="{% static '/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock javascripts %}
